.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#logo{
  font-family: 'Abril Fatface', cursive;
}

/* font-family: 'Arapey', serif; */
/* font-family: 'Brawler', serif;
font-family: 'Montserrat', sans-serif; */
/* font-family: 'Abril Fatface', cursive; */